{% extends 'rsvp/base.html' %}

{% block content %}

<head>
    <title>Thank You</title>

    <style>
         #pageHeading {
            color: #4D4C7D;
            text-align: center;
            font-family: Georgia;
            font-size: 4vw;
            margin: 8% 28%;
        }

         @media (max-width: 600px) {
             #pageHeading {
                 font-size: 3.2vw;
             }
         }
    </style>
</head>

<div id="pageHeading">
    <p>Thank you for RSVPing.</p>
    <p>We can't wait to see you!</p>
</div>

{% endblock content %}
